<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <appSettings>

    <add key="ElectronicStaffDataBase" value="D:\ProductionData\ElecLineStatus\19_Operator\ElectronicStaffDatabase.xlsx"/>
    <add key="StatisticsFolder" value="D:\ProductionData\Statistics of Electronic\"/>
    <add key="PCBTypeFile" value="D:\ProductionData\ElecLineStatus\13_PCBType\LIB\Electronic_PCBA_DataBase.xlsx"/>
    <add key="ConfirmFolder" value="D:\ProductionData\ProductionPlan\06_ConfirmOrder\"/>
    <add key="ReportOutput" value="D:\ProductionData\ElecLineStatus\19_Operator\04_Template\ElecReportOutputStatus.xlsx"/>
    <add key="ProductHardIndex" value="D:\ProductionData\ElecLineStatus\19_Operator\01_FamilyOutputStatus\HardIndex\ProductionHardIndex.xlsx"/>
    <add key="StatRoutingDataBase" value="D:\ProductionData\Statistics of Electronic\EfficiencyLogger\LIB\EfficiencyDataBase.xlsx"/>
    <add key="FamilyOutFolder" value="D:\ProductionData\ElecLineStatus\19_Operator\01_FamilyOutputStatus\"/>
    <add key="OperatorStatistics" value="D:\ProductionData\ElecLineStatus\19_Operator\01_FamilyOutputStatus\OperatorStatistics\OperatorOutputStatisics.xlsx"/>

    <add key="StandardRoutingDataBase" value="D:\ProductionData\ElecLineStatus\06_RoutingData\ProductionRoutingHour2020.xlsx"/>
    
    <add key="PanelConsumption" value="D:\ProductionData\ElecLineStatus\20_PanelConsumption\"/>
    <add key="ProductConfirm" value="D:\ProductionData\ProductionPlan\06_ConfirmOrder\Monthly\"/>

    <add key="ElecStaffStatistics" value="D:\ProductionData\ElecLineStatus\19_Operator\03_ElecStaffStatistics\ElecStaffShiftChangeRecord2020.xlsx"/>
    <add key="ElecShiftModule" value="D:\ProductionData\ElecLineStatus\19_Operator\04_Template\WorkTimeRecord_Electronic.xlsx"/>
    <add key="MonthShiftModule" value="D:\ProductionData\ElecLineStatus\19_Operator\02_MonthShift\"/>

    <add key="NewStaffRecord" value="D:\ProductionData\ElecLineStatus\19_Operator\03_ElecStaffStatistics\NewStaffRecord2020.xlsx"/>
    <add key="ProdStopDataBase" value="D:\ProductionData\Statistics of Electronic\EfficiencyLogger\LIB\ProdStopDataBase.xlsx"/>

    <add key="PanelStorage" value="385N;386N;357N"/>
    <add key="HaierStorage" value="HAPA;FSPA;"/>
    <add key="FinishGoodsStorage" value="0001;0002;381N;385N;386N;357N;"/>

  </appSettings>

</configuration>